@model Trackmeal.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "Place an order";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Products.Any())
{
    <a class="btn btn-primary" asp-action="Cart">View cart</a>

    <table id="products" class="table table-bordered table-hover">
        <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Order</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <ul class="list-unstyled list-group list-group-horizontal">
                        @{
                            var amountInCart = @Model.ProductAmountInCart(product);

                            <li>
                                <button class="btn btn-danger js-delete" data-product-id="@product.Id" disabled="@(amountInCart == 0)">-</button>
                            </li>
                            <li><p class="js-amount">@amountInCart</p></li>
                            <li>
                                <button class="btn btn-primary js-add" data-product-id="@product.Id" disabled="@(amountInCart == 100)">+</button>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Currently there are no products in the database. Placing an order is not possible at the moment.</p>
}

@section Scripts
{
    <script src="~/js/order.js"></script>
}
