@using Trackmeal.Models
@model Order
@{
    Layout = "_Layout";
    ViewData["Title"] = $"Details of order with ID {Model.Id}";
}

<section id="order-details-header" class="p-4 bg-light text-center">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div data-order-id="@Model.Id">
        @Html.ActionLink("Back to orders", "Index", new { }, new { @class = "btn btn-outline-secondary rounded-pill" })
        <button class="btn btn-outline-danger rounded-pill" id="delete-button" data-order-id="@Model.Id">Delete order</button>
    </div>
</section>

<section id="order-details-status" data-order-id="@Model.Id" class="p-4 text-center">
    <p class="mb-1">Current status:</p>
    <p id="status-name" class="display-6 mb-4">@Model.OrderStatus.Name</p>

    <button class="btn btn-outline-danger rounded-pill" id="prev-state-btn"
            disabled="@(Model.OrderStatusId <= (byte)OrderStatusEnum.Submitted)">Previous state</button>
    <button class="btn btn-outline-primary rounded-pill" id="next-state-btn"
            disabled="@(Model.OrderStatusId >= (byte)OrderStatusEnum.Completed)">Next state</button>
</section>

@await Html.PartialAsync("Order/_OrderDetails", Model)

<input type="hidden" id="order-id-input" value="@Model.Id"/>
<input type="hidden" id="order-status-id-input" value="@Model.OrderStatusId"/>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $("#delete-button").on("click",
                function() {
                    if (confirm("Are you sure you want to delete this order?")) {
                        $.ajax({
                            url: `/api/order/${$(this).parent().attr("data-order-id")}`,
                            method: "DELETE",
                            success: function() {
                                window.location.href = '@Url.Action("Index")';
                            }
                        });
                    }
                }
            );
        });
    </script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/orderStatus.js"></script>
}
