@model Order

<section id="order-details-data" class=" bg-light p-4">
    <div class="container-sm">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="fw-bold mb-1">Date ordered: <br/></p>
                <p class="display-6 fs-4">@Model.DateOrdered</p>
            </li>
            <li class="list-group-item">
                <p class="fw-bold mb-1">Order token: <br/></p>
                <p class="display-6 fs-4">@Model.Token</p>
            </li>
        </ul>
    </div>
</section>

<section id="order-details-list" class="p-4 bg-light">
    <h4 class="mb-4 text-center">Here are the products which were ordered</h4>

    <div class="container-sm mb-4">
        @foreach (var entry in Model.Entries)
        {
            <div class="card my-2">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="h5">@entry.Product.Name</p>
                                <p>@entry.Product.Description</p>
                            </div>
                            <div class="col-auto my-auto">
                                <div class="hstack">
                                    <p class="display-6 fs-3 my-auto text-muted me-2">@entry.Amount</p>
                                    <div class="vr"></div>
                                    <p class="display-6 fs-3 my-auto ms-2">$@entry.TotalPrice</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div class="text-center">
        <p class="text-center mb-1">Total price</p>
        <p class="display-5 mt-1">$@Model.TotalPrice</p>
    </div>
</section>
