@model IEnumerable<Trackmeal.Models.Product>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Manage products";
}

<h2>@ViewData["Title"]</h2>
@Html.ActionLink("New product", "New", "Products", new { }, new { @class = "btn btn-primary form-group" })

@if (Model.Any())
{
    <table class="table table-hover table-bordered form-group" id="products">
        <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = product.Id }, new { @class = "btn btn-light" })
                        <button class="btn btn-danger js-delete" data-product-id="@product.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no products in the database.</p>
}

@section Scripts
{
    <script src="~/js/deleteProduct.js"></script>
}
